# x-archived-from: kufu-default-api-openapi.yml
# x-archived-on: 2026-09-26
openapi: 3.2.0
info:
  title: SmartHR カスタム家族項目テンプレート API
  description: SmartHR の各種データを操作する API です
  license:
    name: SmartHR, Inc
  version: 0.0.1
servers:
- url: https://app.smarthr.jp/api
tags:
- name: カスタム家族項目テンプレート
  description: カスタム家族項目テンプレートを操作します
paths:
  /v1/dependent_custom_field_templates:
    get:
      summary: リストの取得
      description: カスタム家族項目をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DependentCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1DependentCustomFieldTemplates
  /v1/crew_custom_field_template_groups/{id}:
    get:
      summary: 取得
      description: '指定した ID のカスタム従業員項目グループ情報を取得します。


        `embed=templates` を指定すると、そのグループに属するカスタム項目テンプレート情報も合わせて取得できます。'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目グループID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - templates
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewCustomFieldTemplateGroupsId
    put:
      summary: 更新
      description: '指定した ID のカスタム従業員項目グループ情報を更新します。

        未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ```

        {

        "name": "string",

        "position": 0

        }

        ```'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目グループID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1CrewCustomFieldTemplateGroupsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1CrewCustomFieldTemplateGroupsId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID のカスタム従業員項目グループ情報を部分更新します。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ```

        {

        "name": "string",

        "position": 0

        }

        ```'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目グループID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1CrewCustomFieldTemplateGroupsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1CrewCustomFieldTemplateGroupsId'
        required: true
    delete:
      summary: 削除
      description: '指定した ID のカスタム従業員項目グループ情報を削除します。


        **グループに属するカスタム項目テンプレート、およびそれらのテンプレートに対して設定されている値がすべて削除されます。**'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目グループID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1CrewCustomFieldTemplateGroupsId
  /v1/crew_custom_field_template_groups:
    get:
      summary: リスト取得
      description: 'カスタム従業員項目グループをリストで取得します。


        `embed=templates` を指定すると、そのグループに属するカスタム項目テンプレート情報も合わせて取得できます。'
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - templates
      responses:
        '200':
          description: リスト取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewCustomFieldTemplateGroups
    post:
      summary: 登録
      description: 'カスタム従業員項目グループを新規登録します。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ```

        {

        "name": "string",

        "position": 0

        }

        ```'
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplateGroup'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1CrewCustomFieldTemplateGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1CrewCustomFieldTemplateGroups'
        required: true
  /v1/crew_custom_field_templates:
    get:
      summary: リストの取得
      description: 'カスタム従業員項目をリストで取得します。


        `embed=group` を指定すると、属するカスタム項目グループ情報も合わせて取得できます。（ `group_id` が `group` に置き換わります）'
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - group
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewCustomFieldTemplates
    post:
      summary: 登録
      description: 'カスタム従業員項目を新規登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "name": "身長",

        "type": "decimal",

        "scale": 1

        }

        ```


        なお、種別がドロップダウンリスト項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。


        JSON 例

        ```

        {

        "name": "血液型",

        "type": "enum",

        "elements": [

        { "name": "A型", "position": 1 },

        { "name": "B型", "position": 2 },

        ...

        ]

        }

        ```'
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1CrewCustomFieldTemplates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1CrewCustomFieldTemplates'
        required: true
  /v1/crew_custom_field_templates/{id}:
    get:
      summary: 取得
      description: '指定した ID のカスタム従業員項目情報を取得します。


        `embed=group` を指定すると、属するカスタム項目グループ情報も合わせて取得できます。（ `group_id` が `group` に置き換わります）'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目ID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - group
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewCustomFieldTemplatesId
    put:
      summary: 更新
      description: '指定した ID のカスタム従業員項目情報を更新します。

        未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "name": "身長",

        "type": "decimal",

        "scale": 1

        }

        ```


        なお、種別がドロップダウンリスト項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。


        既存の elements 要素を更新する場合は `id` を指定してください。この時、指定されなかった既存の要素はすべて削除されます。


        JSON 例

        ```

        {

        "name": "血液型",

        "type": "enum",

        "elements": [

        { "id", 1, "name": "A型", "position": 1 },

        { "name": "AB型", "position": 3 },

        ...

        ]

        }

        ```'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1CrewCustomFieldTemplatesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1CrewCustomFieldTemplatesId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID のカスタム従業員項目情報を部分更新します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "name": "身長",

        "type": "decimal",

        "scale": 1

        }

        ```


        なお、種別がドロップダウンリスト項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。


        既存の elements 要素を更新する場合は `id` を指定してください。


        JSON 例

        ```

        {

        "name": "血液型",

        "type": "enum",

        "elements": [

        { "id", 1, "name": "A型", "position": 1 },

        { "name": "AB型", "position": 3 },

        ...

        ]

        }

        ```'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1CrewCustomFieldTemplatesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1CrewCustomFieldTemplatesId'
        required: true
    delete:
      summary: 削除
      description: '指定した ID のカスタム従業員項目情報を削除します。


        **テンプレートに対して設定されている値がすべて削除されます。**'
      parameters:
      - in: path
        name: id
        description: カスタム従業員項目ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewCustomFieldTemplate'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1CrewCustomFieldTemplatesId
  /v1/batch_jobs:
    get:
      summary: リストの取得
      description: バックグラウンド処理をリストで取得します。
      parameters:
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - attachments
      - in: query
        name: sort
        description: 並び順
        required: false
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          default: created_at
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchJob'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1BatchJobs
  /v1/batch_jobs/{id}:
    get:
      summary: 取得
      description: 指定した ID のバックグラウンド処理を取得します。
      parameters:
      - in: path
        name: id
        description: BatchJob ID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - attachments
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1BatchJobsId
  /v1/batch_jobs/job_types/crew_export:
    post:
      summary: 従業員情報ダウンロードの登録
      description: 'バックグラウンド処理（従業員情報ダウンロード）を登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "crew_export_format_id": "8d155019-0a3d-4c75-ab5e-8948a0d7b423"

        }

        ```


        事前にカスタムダウンロードフォーマットを作成し、その ID を指定してください。ID は URL のパスより確認が可能です。


        例: 「/admin/crew_export_formats/8d155019-0a3d-4c75-ab5e-8948a0d7b423」であれば「8d155019-0a3d-4c75-ab5e-8948a0d7b423」'
      responses:
        '201':
          description: 従業員情報ダウンロードの登録
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1BatchJobsJobTypesCrewExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1BatchJobsJobTypesCrewExport'
        required: true
  /v1/batch_jobs/job_types/crew_import:
    post:
      summary: 従業員一括登録・更新の登録
      description: 'バックグラウンド処理（従業員一括登録・更新）を登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "mode": "insert",

        "file": {

        "name": "sample.csv",

        "content": "5YiXMSzliJcyCmEsYgpjLGQKZSxmCg=="

        }

        }

        ```'
      responses:
        '201':
          description: 従業員一括登録・更新の登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1BatchJobsJobTypesCrewImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1BatchJobsJobTypesCrewImport'
        required: true
  /v1/batch_jobs/job_types/dependent_import:
    post:
      summary: 家族情報一括更新の登録
      description: 'バックグラウンド処理（家族情報一括更新）を登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "file": {

        "name": "sample.csv",

        "content": "5YiXMSzliJcyCmEsYgpjLGQKZSxmCg=="

        }

        }

        ```'
      responses:
        '201':
          description: 家族情報一括更新の登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1BatchJobsJobTypesDependentImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1BatchJobsJobTypesDependentImport'
        required: true
  /v1/batch_job_attachments/{id}/file:
    get:
      summary: ファイル取得
      description: '指定した ID のバックグラウンド処理添付ファイルを取得します。


        取得してから5分後にファイルは削除され、アクセスできなくなります。'
      parameters:
      - in: path
        name: id
        description: BatchJobAttachment ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ファイル取得
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1BatchJobAttachmentsIdFile
  /v1/mail_formats:
    get:
      summary: リストの取得
      description: メールフォーマット情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - crew_input_forms
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MailFormat'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1MailFormats
  /v1/mail_formats/{id}:
    get:
      summary: 取得
      description: 指定した ID のメールフォーマット情報を取得します。
      parameters:
      - in: path
        name: id
        description: メールフォーマットID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - crew_input_forms
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailFormat'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1MailFormatsId
  /v1/users:
    get:
      summary: リストの取得
      description: 'ユーザー情報をリストで取得します。


        **招待のステータスについて**


        ユーザーに送信した招待は項目の値によって以下のように判定できます。


        - 従業員登録済み

        - `invitation_answered_at` に値が入っている

        - ユーザー登録済み

        - `invitation_created_at` が `null` である

        - 招待メール開封済み

        - `invitation_opened_at` に値が入っている

        - 招待メール送信済み

        - `invitation_created_at` に値が入っている


        **招待メールの送信エラーについて**


        メールフィルターやアドレス不備によって送信されない場合は `suppressed_email_logs` にエラー内容が記載されます。


        詳しくは メールが届かない場合の原因は？ をご確認ください。


        - bounced

        - バウンス

        - spam_reported

        - スパムレポート

        - blocked

        - ブロック

        - malformed

        - 無効なメール'
      parameters:
      - in: query
        name: sort
        description: 並び順
        required: false
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - crew
          - biz_establishment
          - biz_establishment_company
          - department_company
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1Users
  /v1/users/{id}:
    get:
      summary: 取得
      description: 指定した ID のユーザー情報を取得します。
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - crew
          - biz_establishment
          - biz_establishment_company
          - department_company
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1UsersId
  /v1/users/{id}/saml_user:
    get:
      summary: SAML SSOアカウントを取得
      description: '指定した ID のユーザーの「SAML SSOアカウント」を取得します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: SAML SSOアカウントを取得
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1UsersIdSamlUser
    post:
      summary: SAML SSOアカウントの作成
      description: '指定した ID のユーザーのSAML SSOアカウントを作成します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '201':
          description: SAML SSOアカウントの作成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlUser'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1UsersIdSamlUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1UsersIdSamlUser'
        required: true
    patch:
      summary: SAML SSOアカウントを更新
      description: '指定した ID のユーザーのSAML SSOアカウントを更新します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: SAML SSOアカウントを更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlUser'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1UsersIdSamlUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1UsersIdSamlUser'
        required: true
    delete:
      summary: SAML SSOアカウントを削除
      description: '指定した ID のユーザーのSAML SSOアカウントを削除します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: SAML SSOアカウントを削除
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1UsersIdSamlUser
  /v1/users/{id}/saml_user/enable:
    patch:
      summary: SAML SSOアカウントを有効に変更
      description: '指定した ID のユーザーのSAML SSOアカウントを有効状態に変更します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: SAML SSOアカウントを有効に変更
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1UsersIdSamlUserEnable
  /v1/users/{id}/saml_user/disable:
    patch:
      summary: SAML SSOアカウントを無効に変更
      description: '指定した ID のユーザーのSAML SSOアカウントを無効状態に変更します。

        利用には SAML/SSOオプションの契約が必要です。'
      parameters:
      - in: path
        name: id
        description: ユーザーID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: SAML SSOアカウントを無効に変更
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1UsersIdSamlUserDisable
  /v1/biz_establishments:
    get:
      summary: リストの取得
      description: 事業所情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - soc_ins_owner
          - lab_ins_owner
          - company
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BizEstablishment'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1BizEstablishments
  /v1/companies:
    get:
      summary: リストの取得
      description: 会社情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - owner
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1Companies
  /v1/bank_account_settings:
    get:
      summary: リストの取得
      description: 口座情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankAccountSetting'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1BankAccountSettings
  /v1/crews/{crew_id}/dependents:
    get:
      summary: リストの取得
      description: '指定した従業員に紐づく家族情報をリストで取得します。


        **カスタム項目の表現について**


        `custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。


        - テキスト（1行）（type: string）

        - String 型

        - テキスト（複数行）（type: text）

        - String 型

        - 数値（type: decimal）

        - Integer 型

        - 日付（type: date）

        - `yyyy-MM-dd` 形式の String 型

        - ドロップダウンリスト（type: enum）

        - ドロップダウンリスト項目の ID（String 型）

        - ドロップダウンリスト項目に `physical_name` が設定されている場合は、その値（String 型）

        - ファイル（type: file）

        - アップロードしたファイルへの期限付き URL（String 型）'
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewsCrewIdDependents
    post:
      summary: 登録
      description: '家族情報を新規登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "last_name": "山田",

        "first_name": "太郎",

        "relation_id": "xxxx",

        "gender": "male",

        "birth_at": "1960-01-01",

        "live_together_type": "living_together"

        }

        ```


        - `tax_law_support_type` パラメータを指定しない場合、`supported` を設定します。

        - `social_insurance_support_type` パラメータを指定しない場合、`supported` を設定します。


        **カスタム項目の値の設定について**


        カスタム項目の値の設定は `custom_fields` パラメータで行ないます。 `value` に設定する値は、テンプレート種別に対応させてください。


        JSON 例

        ```

        {

        "custom_fields": [

        {

        "template_id": "1234567a-123a-123a-123a-123456789aa",

        "value": "string"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ab",

        "value": "text"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ac",

        "value": 0

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ad",

        "value": "2017-03-09"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ae",

        "value": "enum_element_physical_name"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789af",

        "value": "/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...",

        "file_name": "awesome_image.jpg"

        }

        ]

        }

        ```


        - ドロップダウンリスト（type: enum）の場合、 `value` にはドロップダウンリスト項目の ID か、 `physical_name` の値を指定します

        - ファイル（type: file）の場合、 `value` にはデータを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します'
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1CrewsCrewIdDependents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1CrewsCrewIdDependents'
        required: true
  /v1/crews/{crew_id}/dependents/{id}:
    get:
      summary: 取得
      description: '指定した ID の家族情報を取得します。


        **カスタム項目の表現について**


        `custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。


        - テキスト（1行）（type: string）

        - String 型

        - テキスト（複数行）（type: text）

        - String 型

        - 数値（type: decimal）

        - Integer 型

        - 日付（type: date）

        - `yyyy-MM-dd` 形式の String 型

        - ドロップダウンリスト（type: enum）

        - ドロップダウンリスト項目の ID（String 型）

        - ドロップダウンリスト項目に `physical_name` が設定されている場合は、その値（String 型）

        - ファイル（type: file）

        - アップロードしたファイルへの期限付き URL（String 型）'
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 家族ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewsCrewIdDependentsId
    put:
      summary: 更新
      description: '**このエンドポイントは利用非推奨です**


        このエンドポイント自体は利用可能ですが、挙動は部分更新と同等になります。

        リクエスト元の制限で PATCH メソッドが使用できないような場合に、エイリアスとしてご利用ください。'
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 家族ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1CrewsCrewIdDependentsId
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1CrewsCrewIdDependentsId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の家族情報を部分更新します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "last_name": "山田",

        "first_name": "五朗"

        }

        ```


        **カスタム項目の値の設定について**


        カスタム項目の値の設定は `custom_fields` パラメータで行ないます。 `value` に設定する値は、テンプレート種別に対応させてください。


        JSON 例

        ```

        {

        "custom_fields": [

        {

        "template_id": "1234567a-123a-123a-123a-123456789aa",

        "value": "string"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ab",

        "value": "text"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ac",

        "value": 0

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ad",

        "value": "2017-03-09"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ae",

        "value": "enum_element_physical_name"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789af",

        "value": "/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...",

        "file_name": "awesome_image.jpg"

        }

        ]

        }

        ```


        - ドロップダウンリスト（type: enum）の場合、 `value` にはドロップダウンリスト項目の ID か、 `physical_name` の値を指定します

        - ファイル（type: file）の場合、 `value` にはデータを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します'
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 家族ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1CrewsCrewIdDependentsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1CrewsCrewIdDependentsId'
        required: true
    delete:
      summary: 削除
      description: 指定した ID の家族情報を削除します。
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 家族ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependent'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1CrewsCrewIdDependentsId
  /v1/job_titles/{id}:
    get:
      summary: 取得
      description: 指定した ID の役職情報を取得します。
      parameters:
      - in: path
        name: id
        description: 役職ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1JobTitlesId
    put:
      summary: 更新
      description: '指定した ID の役職情報を更新します。


        なお、適用日を迎えていない従業員情報の更新が予定されている役職の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 役職ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1JobTitlesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1JobTitlesId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の役職情報を部分更新します。

        更新できるのは 役職の名前(name), 役職のランク(rank), 役職コード(code) です。


        なお、適用日を迎えていない従業員情報の更新が予定されている役職の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 役職ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1JobTitlesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1JobTitlesId'
        required: true
    delete:
      summary: 削除
      description: '指定した ID の役職情報を削除します。


        なお、適用日を迎えていない従業員情報の更新が予定されている役職の削除はできません。'
      parameters:
      - in: path
        name: id
        description: 役職ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1JobTitlesId
  /v1/job_titles:
    get:
      summary: リストの取得
      description: 役職情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: sort
        description: 並び順
        required: false
        schema:
          type: string
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1JobTitles
    post:
      summary: 作成
      description: 役職情報を新規登録します。
      responses:
        '201':
          description: 作成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1JobTitles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1JobTitles'
        required: true
  /v1/crews:
    get:
      summary: リストの取得
      description: '指定した条件に合致する従業員をリストで取得します。


        **雇用形態の表現について**


        雇用形態データの構造変更に伴い、`emp_type` 項目の利用は非推奨となりました。

        今後は `employment_type` 項目をご利用ください。


        なお、`emp_type` 項目には、登録されている雇用形態が「プリセット雇用形態」の時のみ、その preset_type の値が入ります。出力形式は従来と変更ありません。


        **部署の表現について**


        部署データの構造変更に伴い、`department` 項目の利用は非推奨となりました。

        今後は `departments` 項目をご利用ください。


        なお、`department` 項目には、1番目に登録されている部署について、各階層の名称を `/` で連結した文字列が出力されます。


        **役職の表現について**


        役職データの構造変更に伴い、`position` 項目の利用は非推奨となりました。

        今後は `positions` 項目をご利用ください。


        **社会保険の資格取得年月日・社会保険の資格喪失年月日の表現について**


        社会保険データの構造変更に伴い、`soc_ins_qualified_at`、`soc_ins_disqualified_at` 項目の利用は非推奨となりました。

        今後は `health_insurance_qualified_at` (= 健康保険の資格取得年月日)、`health_insurance_disqualified_at` (= 健康保険の資格喪失年月日)、`employees_pension_insurance_qualified_at` (= 厚生年金保険の資格取得年月日)、`employees_pension_insurance_disqualified_at` (= 厚生年金保険の資格喪失年月日) 項目をご利用ください。


        なお、従来の `soc_ins_qualified_at`、`soc_ins_disqualified_at` 項目は健康保険と厚生年金保険を区別せず同一の日付を返していましたが、新しい項目では保険種別ごとに個別の日付を設定できます。


        詳しくは お知らせ をご確認ください。


        **カスタム項目の表現について**


        `custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。


        - テキスト（1行）（type: string）

        - String 型

        - テキスト（複数行）（type: text）

        - String 型

        - 数値（type: decimal）

        - Integer 型

        - 日付（type: date）

        - `yyyy-MM-dd` 形式の String 型

        - ドロップダウンリスト（type: enum）

        - ドロップダウンリスト項目の ID（String 型）

        - ドロップダウンリスト項目に `physical_name` が設定されている場合は、その値（String 型）

        - ファイル（type: file）

        - アップロードしたファイルへの期限付き URL（String 型）'
      parameters:
      - in: query
        name: emp_code
        description: 社員番号
        required: false
        schema:
          type: string
      - in: query
        name: emp_type
        description: 雇用形態の preset_type。本パラメーターは非推奨であり、代わりにemployment_type_id の利用を推奨します。
        required: false
        schema:
          type: string
          enum:
          - board_member
          - full_timer
          - contract_worker
          - permatemp
          - part_timer
          - outsourcing_contractor
          - etc
      - in: query
        name: employment_type_id
        description: 雇用形態ID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: emp_status
        description: 在籍状況
        required: false
        schema:
          type: string
          enum:
          - employed
          - absent
          - retired
      - in: query
        name: gender
        description: 戸籍上の性別
        required: false
        schema:
          type: string
          enum:
          - male
          - female
      - in: query
        name: sort
        description: 並び順
        required: false
        schema:
          type: string
      - in: query
        name: entered_at_from
        description: 指定した日以降に入社した従業員に絞り込みます
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: entered_at_to
        description: 指定した日以前に入社した従業員に絞り込みます
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: resigned_at_from
        description: 指定した日以降に退職した従業員に絞り込みます
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: resigned_at_to
        description: 指定した日以前に退職した従業員に絞り込みます
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: user_id
        description: ユーザーID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: department_id
        description: 取得したい従業員の所属する部署ID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: position_id
        description: 取得したい従業員の役職ID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: q
        description: 氏名・ビジネスネーム・部署名・役職名でフリーワード検索をします
        required: false
        schema:
          type: string
      - in: query
        name: prefer_business_name
        description: 氏名・ビジネスネーム・部署名・役職名でフリーワード検索をする際にビジネスネームを優先して検索するかどうか
        required: false
        schema:
          type: boolean
      - in: query
        name: id
        description: 取得したい従業員のID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: fields
        description: 取得する項目名（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1Crews
    post:
      summary: 登録
      description: '従業員情報を新規登録します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "last_name": "山田",

        "first_name": "太郎",

        "gender": "male"

        }

        ```


        新規登録に際して、特に必須項目はありません。


        レスポンスヘッダーの `Location` には **SmartHR 上でのエンドポイント URL** が含まれます。


        **雇用形態の設定について**


        雇用形態データの構造変更に伴い、`emp_type` パラメータの利用は非推奨となりました。

        今後は `employment_type_id` パラメータをご利用ください。


        なお、`emp_type` パラメータに雇用形態種別を指定した場合は、以下のような挙動になります。


        - 指定した雇用形態種別を preset_type に持つ雇用形態が設定されます

        - 存在しない雇用形態種別を指定した場合はリクエストエラーとなります


        **部署項目値の設定について**


        部署データの構造変更に伴い、`department` パラメータの利用は非推奨となりました。

        今後は `department_ids` パラメータをご利用ください。


        なお、`department` パラメータに部署名を指定した場合は、以下のような挙動になります。


        - 指定した部署名を持つ部署が存在する場合

        - 存在する部署を設定します

        - トップレベルにある部署のみ検索対象とします

        - 指定した部署名を持つ部署が存在しない場合

        - その部署名で部署を新規登録し、設定します

        - 部署の階層はトップレベルになります


        **役職の設定について**


        役職データの構造変更に伴い、`position` パラメータの利用は非推奨となりました。

        今後は `positions` パラメータをご利用ください。


        なお、`position` パラメータに役職名を指定した場合は、以下のような挙動になります。


        - 指定した役職名を持つ役職が存在する場合

        - 存在する役職を設定します

        - 指定した役職名を持つ役職が存在しない場合

        - その役職名で役職を新規登録し、設定します


        **社会保険の資格取得年月日・社会保険の資格喪失年月日の設定について**


        社会保険データの構造変更に伴い、`soc_ins_qualified_at`、`soc_ins_disqualified_at` パラメータの利用は非推奨となりました。

        今後は `health_insurance_qualified_at` (= 健康保険の資格取得年月日)、`health_insurance_disqualified_at` (= 健康保険の資格喪失年月日)、`employees_pension_insurance_qualified_at` (= 厚生年金保険の資格取得年月日)、`employees_pension_insurance_disqualified_at` (= 厚生年金保険の資格喪失年月日) パラメータをご利用ください。


        なお、従来の `soc_ins_qualified_at`、`soc_ins_disqualified_at` パラメータは健康保険と厚生年金保険を区別せず同一の日付を設定していましたが、新しいパラメータでは保険種別ごとに個別の日付を設定できます。


        詳しくは お知らせ をご確認ください。


        **口座情報について**


        口座情報データの構造変更に伴い、bank_accounts パラメータのオブジェクトに `bank_account_setting_id` (= 口座設定ID) の指定が可能になりました。


        `bank_account_setting_id` を指定した場合は、以下のような挙動になります。


        - `bank_account_setting_id` を含まないパラメータが混在している場合、リクエストエラーとなります

        - 存在しない `bank_account_setting_id` を指定した場合はリクエストエラーとなります


        `bank_account_setting_id` を指定しなかった場合は、以下のような挙動になります。


        - パラメータの先頭から順にデータを突合し、登録・更新を行ないます

        - 有効な口座設定の数を越えたパラメータが指定された場合、リクエストエラーとなります

        - `bank_account_setting_id` を含むパラメータが混在している場合、リクエストエラーとなります


        **カスタム項目値の設定について**


        カスタム項目値の設定は `custom_fields` パラメータで行ないます。 `value` に設定する値は、テンプレート種別に対応させてください。


        JSON 例

        ```

        {

        "custom_fields": [

        {

        "template_id": "1234567a-123a-123a-123a-123456789aa",

        "value": "string"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ab",

        "value": "text"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ac",

        "value": 0

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ad",

        "value": "2017-03-09"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ae",

        "value": "enum_element_physical_name"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789af",

        "value": "/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...",

        "file_name": "awesome_image.jpg"

        }

        ]

        }

        ```


        - ドロップダウンリスト（type: enum）は、ドロップダウンリスト要素の ID か、`physical_name` の設定値を使って指定します

        - ファイルは、データを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します'
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1Crews
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Crews'
        required: true
  /v1/crews/{id}:
    get:
      summary: 取得
      description: '指定した ID の従業員情報を取得します。


        **雇用形態の表現について**


        雇用形態データの構造変更に伴い、`emp_type` 項目の利用は非推奨となりました。

        今後は `employment_type` 項目をご利用ください。


        なお、`emp_type` 項目には、登録されている雇用形態が「プリセット雇用形態」の時のみ、その preset_type の値が入ります。出力形式は従来と変更ありません。


        **部署の表現について**


        部署データの構造変更に伴い、`department` 項目の利用は非推奨となりました。

        今後は `departments` 項目をご利用ください。


        なお、`department` 項目には、1番目に登録されている部署について、各階層の名称を `/` で連結した文字列が出力されます。


        **役職の表現について**


        役職データの構造変更に伴い、`position` 項目の利用は非推奨となりました。

        今後は `positions` 項目をご利用ください。


        **社会保険の資格取得年月日・社会保険の資格喪失年月日の表現について**


        社会保険データの構造変更に伴い、`soc_ins_qualified_at`、`soc_ins_disqualified_at` 項目の利用は非推奨となりました。

        今後は `health_insurance_qualified_at` (= 健康保険の資格取得年月日)、`health_insurance_disqualified_at` (= 健康保険の資格喪失年月日)、`employees_pension_insurance_qualified_at` (= 厚生年金保険の資格取得年月日)、`employees_pension_insurance_disqualified_at` (= 厚生年金保険の資格喪失年月日) 項目をご利用ください。


        なお、従来の `soc_ins_qualified_at`、`soc_ins_disqualified_at` 項目は健康保険と厚生年金保険を区別せず同一の日付を返していましたが、新しい項目では保険種別ごとに個別の日付を設定できます。


        詳しくは お知らせ をご確認ください。


        **カスタム項目の表現について**


        `custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。


        - テキスト（1行）（type: string）

        - String 型

        - テキスト（複数行）（type: text）

        - String 型

        - 数値（type: decimal）

        - Integer 型

        - 日付（type: date）

        - `yyyy-MM-dd` 形式の String 型

        - ドロップダウンリスト（type: enum）

        - ドロップダウンリスト要素の ID（String 型）

        - ドロップダウンリスト要素に `physical_name` が設定されている場合は、その値（String 型）

        - ファイル（type: file）

        - アップロードしたファイルへの期限付き URL（String 型）'
      parameters:
      - in: path
        name: id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: query
        name: fields
        description: 取得する項目名（カンマ区切り）
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewsId
    put:
      summary: 更新
      description: '**このエンドポイントは利用非推奨です**


        2020年12月16日より、従業員の更新は「部分更新（PATCH ）」のみの提供となりました。

        このエンドポイント自体は利用可能ですが、挙動は部分更新と同等になります。

        リクエスト元の制限で PATCH メソッドが使用できないような場合に、エイリアスとしてご利用ください。'
      parameters:
      - in: path
        name: id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1CrewsId
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1CrewsId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の従業員情報を部分更新します。


        BODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        JSON 例

        ```

        {

        "last_name": "山田",

        "first_name": "太郎",

        "gender": "male"

        }

        ```


        以下の項目が入力済みの従業員に対して、**これらのいずれかを欠けさせる**更新はできません。

        - last_name

        - first_name

        - last_name_yomi

        - first_name_yomi

        - gender

        - birth_at

        - address


        **雇用形態の設定について**


        雇用形態データの構造変更に伴い、`emp_type` パラメータの利用は非推奨となりました。

        今後は `employment_type_id` パラメータをご利用ください。


        なお、`emp_type` パラメータに雇用形態種別を指定した場合は、以下のような挙動になります。


        - 指定した雇用形態種別を preset_type に持つ雇用形態が設定されます

        - 存在しない雇用形態種別を指定した場合はリクエストエラーとなります

        - 従業員にプリセット雇用形態以外が設定されている場合、`emp_type` パラメータではそれを null にできません


        **部署項目値の設定について**


        部署データの構造変更に伴い、`department` パラメータの利用は非推奨となりました。

        今後は `department_ids` パラメータをご利用ください。


        なお、`department` パラメータに部署名を指定した場合は、以下のような挙動になります。


        - 指定した部署名を持つ部署が存在する場合

        - 存在する部署を設定します

        - トップレベルにある部署のみ検索対象とします

        - 指定した部署名を持つ部署が存在しない場合

        - その部署名で部署を新規登録し、設定します

        - 部署の階層はトップレベルになります


        **役職の設定について**


        役職データの構造変更に伴い、`position` パラメータの利用は非推奨となりました。

        今後は `positions` パラメータをご利用ください。


        なお、`position` パラメータに役職名を指定した場合は、以下のような挙動になります。


        - 指定した役職名を持つ役職が存在する場合

        - 存在する役職を設定します

        - 指定した役職名を持つ役職が存在しない場合

        - その役職名で役職を新規登録し、設定します


        **社会保険の資格取得年月日・社会保険の資格喪失年月日の設定について**


        社会保険データの構造変更に伴い、`soc_ins_qualified_at`、`soc_ins_disqualified_at` パラメータの利用は非推奨となりました。

        今後は `health_insurance_qualified_at` (= 健康保険の資格取得年月日)、`health_insurance_disqualified_at` (= 健康保険の資格喪失年月日)、`employees_pension_insurance_qualified_at` (= 厚生年金保険の資格取得年月日)、`employees_pension_insurance_disqualified_at` (= 厚生年金保険の資格喪失年月日) パラメータをご利用ください。


        なお、従来の `soc_ins_qualified_at`、`soc_ins_disqualified_at` パラメータは健康保険と厚生年金保険を区別せず同一の日付を設定していましたが、新しいパラメータでは保険種別ごとに個別の日付を設定できます。


        詳しくは お知らせ をご確認ください。


        **口座情報について**


        口座情報データの構造変更に伴い、bank_accounts パラメータのオブジェクトに `bank_account_setting_id` (= 口座設定ID) の指定が可能になりました。


        `bank_account_setting_id` を指定した場合は、以下のような挙動になります。


        - `bank_account_setting_id` を含まないパラメータが混在している場合、リクエストエラーとなります

        - 存在しない `bank_account_setting_id` を指定した場合はリクエストエラーとなります


        `bank_account_setting_id` を指定しなかった場合は、以下のような挙動になります。


        - パラメータの先頭から順にデータを突合し、登録・更新を行ないます

        - 有効な口座設定の数を越えたパラメータが指定された場合、リクエストエラーとなります

        - `bank_account_setting_id` を含むパラメータが混在している場合、リクエストエラーとなります


        **カスタム項目値の設定について**


        カスタム項目値の設定は `custom_fields` パラメータで行ないます。 `value` に設定する値は、テンプレート種別に対応させてください。


        JSON 例

        ```

        {

        "custom_fields": [

        {

        "template_id": "1234567a-123a-123a-123a-123456789aa",

        "value": "string"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ab",

        "value": "text"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ac",

        "value": 0

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ad",

        "value": "2017-03-09"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789ae",

        "value": "enum_element_physical_name"

        },

        {

        "template_id": "1234567a-123a-123a-123a-123456789af",

        "value": "/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...",

        "file_name": "awesome_image.jpg"

        }

        ]

        }

        ```


        - ドロップダウンリスト（type: enum）は、ドロップダウンリスト要素の ID か、`physical_name` の設定値を使って指定します

        - ファイルは、データを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します

        - 指定した `template_id` の値がすでにある場合は、それを更新します'
      parameters:
      - in: path
        name: id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1CrewsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1CrewsId'
        required: true
    delete:
      summary: 削除
      description: 指定した ID の従業員情報を削除します。
      parameters:
      - in: path
        name: id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crew'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1CrewsId
  /v1/crews/{id}/invite:
    put:
      summary: 招待
      description: '指定した ID の従業員に設定されているメールアドレスでユーザーを招待します。


        - 指定した従業員情報収集フォームに紐づくメールフォーマットで招待メールが送信されます

        - 一度招待した従業員に対する2回目以降の招待リクエストは、再招待扱いになります

        - 従業員のメールアドレスが変わっていた場合は、招待中ユーザーのメールアドレスが更新されます

        - 招待を承認済みの従業員に対しての再招待はできません

        - 招待者のユーザーには管理者権限を持つユーザーを指定してください

        - 権限はメンバー権限が適用されます（権限の指定はできません）'
      parameters:
      - in: path
        name: id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1CrewsIdInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1CrewsIdInvite'
        required: true
  /v1/crews/{crew_id}/departments:
    delete:
      summary: 部署情報の削除
      description: 指定した ID の従業員の部署情報を削除します。
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1CrewsCrewIdDepartments
  /v1/crew_input_forms:
    get:
      summary: リストの取得
      description: 従業員情報収集フォーム情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - mail_format
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrewInputForm'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewInputForms
  /v1/crew_input_forms/{id}:
    get:
      summary: 取得
      description: 指定した ID の従業員情報収集フォーム情報を取得します。
      parameters:
      - in: path
        name: id
        description: 従業員情報収集フォームID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrewInputForm'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewInputFormsId
  /v1/recruitment_types/{id}:
    get:
      summary: 取得
      description: 指定した ID の採用区分情報を取得します。
      parameters:
      - in: path
        name: id
        description: 採用区分ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1RecruitmentTypesId
    put:
      summary: 更新
      description: '指定した ID の採用区分情報を更新します。


        なお、適用日を迎えていない従業員情報の更新が予定されている採用区分の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 採用区分ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1RecruitmentTypesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1RecruitmentTypesId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の採用区分情報を部分更新します。


        なお、適用日を迎えていない従業員情報の更新が予定されている採用区分の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 採用区分ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1RecruitmentTypesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1RecruitmentTypesId'
        required: true
    delete:
      summary: 削除
      description: '指定した ID の採用区分情報を削除します。


        なお、適用日を迎えていない従業員情報の更新が予定されている採用区分の削除はできません。'
      parameters:
      - in: path
        name: id
        description: 採用区分ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1RecruitmentTypesId
  /v1/recruitment_types:
    get:
      summary: リストの取得
      description: 採用区分情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1RecruitmentTypes
    post:
      summary: 作成
      description: 採用区分情報を新規登録します。
      responses:
        '201':
          description: 作成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruitmentType'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1RecruitmentTypes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1RecruitmentTypes'
        required: true
  /v1/tax_withholdings/{tax_withholding_id}/tax_withholding_slips:
    get:
      summary: リストの取得
      description: 源泉徴収票情報をリストで取得します。
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - company
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlips
    post:
      summary: 登録
      description: '源泉徴収票情報を新規登録します。

        ファイルを登録もしくは、源泉徴収票の項目を登録できます。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ファイルを登録する場合


        ```

        {

        "crew_id": "string",

        "file": {

        "file_name": "file.pdf",

        "content": "base64 content"

        }

        }

        ```


        源泉徴収票の各項目(tax_withholding_slip_attribute)を登録する場合


        ```

        {

        "crew_id": "string",

        "crew_address_literal": "string",

        "crew_position": "string",

        "crew_full_name_yomi": "string",

        "crew_full_name": "string",

        "slip_type": "string",

        "payment_amount": 123456,

        "payment_after_emp_income_deduction_amount": 1234567,

        "payment_after_income_deduction_amount": 1234567,

        "withholding_tax_amount": 123456,

        "spouse_deduction": "1",

        "spouse_deduction_sub": "1",

        "spouse_deduction_elderly": "1",

        "spouse_special_deduction_amount": 123456,

        "specific_dependent_count": 9,

        "specific_dependent_sub_count": 9,

        "elderly_dependent_live_together_count": 9,

        "elderly_dependent_count": 9,

        "elderly_dependent_sub_count": 9,

        "other_dependent_count": 9,

        "other_dependent_sub_count": 9,

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "under_16_years_dependent_count": 9,

        "special_handicapped_dependent_live_together_count": 9,

        "special_handicapped_dependent_count": 9,

        "other_handicapped_dependent_count": 9,

        "non_resident_relative_count": 9,

        "specific_relative_special_deduction_amount": 123456,

        "soc_ins_payment_amount": 123456,

        "life_ins_deduction_amount": 123456,

        "earthquake_ins_deduction_amount": 123456,

        "housing_loan_deduction_amount": 123456,

        "memo": "string",

        "new_life_ins_payment_amount": 123456,

        "old_life_ins_payment_amount": 123456,

        "care_health_payment_amount": 123456,

        "new_personal_pension_ins_payment_amount": 123456,

        "old_personal_pension_ins_payment_amount": 123456,

        "housing_loan_deduction_count": 9,

        "housing_loan_special_deduction_amount": 123456,

        "housing_loan_1_started_at": "1999-09-23",

        "housing_loan_1_deduction_type": "XXX",

        "housing_loan_1_deduction_balance_amount": 123456,

        "housing_loan_2_started_at": "1999-09-23",

        "housing_loan_2_deduction_type": "XXX",

        "housing_loan_2_deduction_balance_amount": 123456,

        "national_pension_payment_amount": 123456,

        "old_long_term_property_ins_payment_amount": 123456,

        "basic_deduction_amount": 123456,

        "income_adjustment_deduction_amount": 123456,

        "spouse_full_name_yomi": "string",

        "spouse_full_name": "string",

        "spouse_non_resident": "1",

        "spouse_total_income": 123456,

        "dependent_1_full_name_yomi": "string",

        "dependent_1_full_name": "string",

        "dependent_1_non_resident": "1",

        "dependent_under_16_years_1_full_name_yomi": "string",

        "dependent_under_16_years_1_full_name": "string",

        "dependent_under_16_years_1_non_resident": 1,

        "underage": "1",

        "foreigner": "1",

        "resigned_by_death": "1",

        "disaster_victim": "1",

        "column_b": "1",

        "special_handicapped": "1",

        "other_handicapped": "1",

        "widow": "1",

        "single_parent": "1",

        "working_student": "1",

        "mid_term_entered": "1",

        "mid_term_resigned": "1",

        "mid_term_entered_or_resigned_at": "1999-09-23",

        "crew_birth_at": "1980-09-23",

        "biz_establishment_address_literal": "string",

        "owner_full_name": "string",

        "biz_establishment_tel_number": "03-3030-3030"

        }

        ```


        以下の項目は源泉徴収の印字される年がR01以前の場合に有効な項目になります


        ```

        {

        "special_widow": "1",

        "widower": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR02以降の場合に有効な項目になります


        ```

        {

        "basic_deduction_amount": 12346,

        "income_adjustment_deduction_amount": 123456,

        "single_parent": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR07以降の場合に有効な項目になります。

        ```

        {

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "specific_relative_special_deduction_amount": 123456

        }

        ```


        控除対象扶養親族（区分）項目(dependent_N_non_resident)は、

        R04以前の場合、「1」または「0」を指定してください。

        R05以降の場合、「00」、「01」、「02」、「03」または「04」を指定してください。

        R07以降の場合、「00」、「01」、「02」、「03」、「04」、「10」、「11」、「20」、「21」、「30」、「31」、「40」、「41」、「50」、「51」、「60」、「61」、「70」、「71」、「80」、「81」、「90」、「91」のいずれかを指定してください。'
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収グループID
        required: true
        schema:
          type: string
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlips
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlips'
        required: true
  /v1/tax_withholdings/{tax_withholding_id}/tax_withholding_slips/{id}:
    get:
      summary: 取得
      description: 指定した ID の源泉徴収票情報を取得します。
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 源泉徴収票ID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - company
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId
    put:
      summary: 更新
      description: '指定した ID の源泉徴収票情報を更新します。


        なお、確定後の源泉徴収票の更新はできません。

        ファイルで登録されている場合はファイルを更新できます。

        源泉徴収票の各項目(tax_withholding_slip_attribute)で登録されている場合は各項目を更新できます。

        ファイルとtax_withholding_slip_attribute の入れ替え更新をしたい場合は一度削除してから新規登録してください。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ファイルを更新する場合


        ```

        {

        "crew_id": "string",

        "file": {

        "file_name": "file.pdf",

        "content": "base64 content"

        }

        }

        ```


        源泉徴収票の各項目(tax_withholding_slip_attribute)を更新する場合


        ```

        {

        "crew_id": "string",

        "crew_address_literal": "string",

        "crew_position": "string",

        "crew_full_name_yomi": "string",

        "crew_full_name": "string",

        "slip_type": "string",

        "payment_amount": 123456,

        "payment_after_emp_income_deduction_amount": 1234567,

        "payment_after_income_deduction_amount": 1234567,

        "withholding_tax_amount": 123456,

        "spouse_deduction": "1",

        "spouse_deduction_sub": "1",

        "spouse_deduction_elderly": "1",

        "spouse_special_deduction_amount": 123456,

        "specific_dependent_count": 9,

        "specific_dependent_sub_count": 9,

        "elderly_dependent_live_together_count": 9,

        "elderly_dependent_count": 9,

        "elderly_dependent_sub_count": 9,

        "other_dependent_count": 9,

        "other_dependent_sub_count": 9,

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "under_16_years_dependent_count": 9,

        "special_handicapped_dependent_live_together_count": 9,

        "special_handicapped_dependent_count": 9,

        "other_handicapped_dependent_count": 9,

        "non_resident_relative_count": 9,

        "specific_relative_special_deduction_amount": 123456,

        "soc_ins_payment_amount": 123456,

        "life_ins_deduction_amount": 123456,

        "earthquake_ins_deduction_amount": 123456,

        "housing_loan_deduction_amount": 123456,

        "memo": "string",

        "new_life_ins_payment_amount": 123456,

        "old_life_ins_payment_amount": 123456,

        "care_health_payment_amount": 123456,

        "new_personal_pension_ins_payment_amount": 123456,

        "old_personal_pension_ins_payment_amount": 123456,

        "housing_loan_deduction_count": 9,

        "housing_loan_special_deduction_amount": 123456,

        "housing_loan_1_started_at": "1999-09-23",

        "housing_loan_1_deduction_type": "XXX",

        "housing_loan_1_deduction_balance_amount": 123456,

        "housing_loan_2_started_at": "1999-09-23",

        "housing_loan_2_deduction_type": "XXX",

        "housing_loan_2_deduction_balance_amount": 123456,

        "national_pension_payment_amount": 123456,

        "old_long_term_property_ins_payment_amount": 123456,

        "basic_deduction_amount": 123456,

        "income_adjustment_deduction_amount": 123456,

        "spouse_full_name_yomi": "string",

        "spouse_full_name": "string",

        "spouse_non_resident": "1",

        "spouse_total_income": 123456,

        "dependent_1_full_name_yomi": "string",

        "dependent_1_full_name": "string",

        "dependent_1_non_resident": "1",

        "dependent_under_16_years_1_full_name_yomi": "string",

        "dependent_under_16_years_1_full_name": "string",

        "dependent_under_16_years_1_non_resident": 1,

        "underage": "1",

        "foreigner": "1",

        "resigned_by_death": "1",

        "disaster_victim": "1",

        "column_b": "1",

        "special_handicapped": "1",

        "other_handicapped": "1",

        "widow": "1",

        "single_parent": "1",

        "working_student": "1",

        "mid_term_entered": "1",

        "mid_term_resigned": "1",

        "mid_term_entered_or_resigned_at": "1999-09-23",

        "crew_birth_at": "1980-09-23",

        "biz_establishment_address_literal": "string",

        "owner_full_name": "string",

        "biz_establishment_tel_number": "03-3030-3030"

        }

        ```


        以下の項目は源泉徴収の印字される年がR01以前の場合に有効な項目になります


        ```

        {

        "special_widow": "1",

        "widower": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR02以降の場合に有効な項目になります


        ```

        {

        "basic_deduction_amount": 12346,

        "income_adjustment_deduction_amount": 123456,

        "single_parent": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR07以降の場合に有効な項目になります。

        ```

        {

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "specific_relative_special_deduction_amount": 123456

        }

        ```


        控除対象扶養親族（区分）項目(dependent_N_non_resident)は、

        R04以前の場合、「1」または「0」を指定してください。

        R05以降の場合、「00」、「01」、「02」、「03」または「04」を指定してください。

        R07以降の場合、「00」、「01」、「02」、「03」、「04」、「10」、「11」、「20」、「21」、「30」、「31」、「40」、「41」、「50」、「51」、「60」、「61」、「70」、「71」、「80」、「81」、「90」、「91」のいずれかを指定してください。'
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収グループID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 源泉徴収票ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の源泉徴収票情報を部分更新します。


        なお、確定後の源泉徴収票の更新はできません。

        ファイルで登録されている場合はファイルを更新できます。

        源泉徴収票の各項目(tax_withholding_slip_attribute)で登録されている場合は各項目を更新できます。

        ファイルとtax_withholding_slip_attribute の入れ替え更新をしたい場合は一度削除してから新規登録してください。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ファイルを更新する場合


        ```

        {

        "crew_id": "string",

        "file": {

        "file_name": "file.pdf",

        "content": "base64 content"

        }

        }

        ```


        源泉徴収票の各項目(tax_withholding_slip_attribute)を更新する場合


        ```

        {

        "crew_id": "string",

        "crew_address_literal": "string",

        "crew_position": "string",

        "crew_full_name_yomi": "string",

        "crew_full_name": "string",

        "slip_type": "string",

        "payment_amount": 123456,

        "payment_after_emp_income_deduction_amount": 1234567,

        "payment_after_income_deduction_amount": 1234567,

        "withholding_tax_amount": 123456,

        "spouse_deduction": "1",

        "spouse_deduction_sub": "1",

        "spouse_deduction_elderly": "1",

        "spouse_special_deduction_amount": 123456,

        "specific_dependent_count": 9,

        "specific_dependent_sub_count": 9,

        "elderly_dependent_live_together_count": 9,

        "elderly_dependent_count": 9,

        "elderly_dependent_sub_count": 9,

        "other_dependent_count": 9,

        "other_dependent_sub_count": 9,

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "under_16_years_dependent_count": 9,

        "special_handicapped_dependent_live_together_count": 9,

        "special_handicapped_dependent_count": 9,

        "other_handicapped_dependent_count": 9,

        "non_resident_relative_count": 9,

        "specific_relative_special_deduction_amount": 123456,

        "soc_ins_payment_amount": 123456,

        "life_ins_deduction_amount": 123456,

        "earthquake_ins_deduction_amount": 123456,

        "housing_loan_deduction_amount": 123456,

        "memo": "string",

        "new_life_ins_payment_amount": 123456,

        "old_life_ins_payment_amount": 123456,

        "care_health_payment_amount": 123456,

        "new_personal_pension_ins_payment_amount": 123456,

        "old_personal_pension_ins_payment_amount": 123456,

        "housing_loan_deduction_count": 9,

        "housing_loan_special_deduction_amount": 123456,

        "housing_loan_1_started_at": "1999-09-23",

        "housing_loan_1_deduction_type": "XXX",

        "housing_loan_1_deduction_balance_amount": 123456,

        "housing_loan_2_started_at": "1999-09-23",

        "housing_loan_2_deduction_type": "XXX",

        "housing_loan_2_deduction_balance_amount": 123456,

        "national_pension_payment_amount": 123456,

        "old_long_term_property_ins_payment_amount": 123456,

        "basic_deduction_amount": 123456,

        "income_adjustment_deduction_amount": 123456,

        "spouse_full_name_yomi": "string",

        "spouse_full_name": "string",

        "spouse_non_resident": "1",

        "spouse_total_income": 123456,

        "dependent_1_full_name_yomi": "string",

        "dependent_1_full_name": "string",

        "dependent_1_non_resident": "1",

        "dependent_under_16_years_1_full_name_yomi": "string",

        "dependent_under_16_years_1_full_name": "string",

        "dependent_under_16_years_1_non_resident": 1,

        "underage": "1",

        "foreigner": "1",

        "resigned_by_death": "1",

        "disaster_victim": "1",

        "column_b": "1",

        "special_handicapped": "1",

        "other_handicapped": "1",

        "widow": "1",

        "single_parent": "1",

        "working_student": "1",

        "mid_term_entered": "1",

        "mid_term_resigned": "1",

        "mid_term_entered_or_resigned_at": "1999-09-23",

        "crew_birth_at": "1980-09-23",

        "biz_establishment_address_literal": "string",

        "owner_full_name": "string",

        "biz_establishment_tel_number": "03-3030-3030"

        }

        ```


        以下の項目は源泉徴収の印字される年がR01以前の場合に有効な項目になります


        ```

        {

        "special_widow": "1",

        "widower": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR02以降の場合に有効な項目になります


        ```

        {

        "basic_deduction_amount": 12346,

        "income_adjustment_deduction_amount": 123456,

        "single_parent": "1"

        }

        ```


        以下の項目は源泉徴収の印字される年がR07以降の場合に有効な項目になります。

        ```

        {

        "specific_relative_dependent_count": 9,

        "specific_relative_dependent_sub_count": 9,

        "specific_relative_special_deduction_amount": 123456

        }

        ```


        控除対象扶養親族（区分）項目(dependent_N_non_resident)は、

        R04以前の場合、「1」または「0」を指定してください。

        R05以降の場合、「00」、「01」、「02」、「03」または「04」を指定してください。

        R07以降の場合、「00」、「01」、「02」、「03」、「04」、「10」、「11」、「20」、「21」、「30」、「31」、「40」、「41」、「50」、「51」、「60」、「61」、「70」、「71」、「80」、「81」、「90」、「91」のいずれかを指定してください。'
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収グループID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 源泉徴収票ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId'
        required: true
    delete:
      summary: 削除
      description: 指定した ID の源泉徴収票情報を削除します。
      parameters:
      - in: path
        name: tax_withholding_id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 源泉徴収票ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholdingSlip'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId
  /v1/tax_withholdings:
    get:
      summary: リストの取得
      description: 源泉徴収票グループをリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1TaxWithholdings
    post:
      summary: 登録
      description: '源泉徴収票グループを新規登録します。

        ステータスは未確定で登録されます。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ```

        {

        "name": "string",

        "year": "R02"

        }

        ```'
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1TaxWithholdings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1TaxWithholdings'
        required: true
  /v1/tax_withholdings/{id}:
    get:
      summary: 取得
      description: 指定した ID の源泉徴収票グループを取得します。
      parameters:
      - in: path
        name: id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1TaxWithholdingsId
    put:
      summary: 更新
      description: '指定した ID の源泉徴収票グループを更新します。

        なお、確定後の源泉徴収の更新はできません。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。


        ```

        {

        "name": "string",

        "year": "R02",

        "status": "wip"

        }

        ```'
      parameters:
      - in: path
        name: id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1TaxWithholdingsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1TaxWithholdingsId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の源泉徴収票グループを部分更新します。

        なお、確定後の源泉徴収の更新はできません。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。

        (必要な項目だけにすることで部分更新が可能です）


        ```

        {

        "name": "string",

        "year": "R02",

        "status": "wip"

        }

        ```'
      parameters:
      - in: path
        name: id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1TaxWithholdingsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1TaxWithholdingsId'
        required: true
    delete:
      summary: 削除
      description: 指定した ID の源泉徴収票グループを削除します。
      parameters:
      - in: path
        name: id
        description: 源泉徴収ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxWithholding'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1TaxWithholdingsId
  /v1/crews/{crew_id}/maternity_childcare_leaves:
    get:
      summary: リストの取得
      description: 指定した従業員に紐づく産休育休情報をリストで取得します。
      parameters:
      - in: path
        name: crew_id
        description: 従業員ID
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaternityChildcareLeave'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1CrewsCrewIdMaternityChildcareLeaves
  /v1/grades/{id}:
    get:
      summary: 取得
      description: 指定した ID の等級情報を取得します。
      parameters:
      - in: path
        name: id
        description: 等級ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1GradesId
    put:
      summary: 更新
      description: '指定した ID の等級情報を更新します。


        なお、適用日を迎えていない従業員情報の更新が予定されている等級の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 等級ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: putV1GradesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV1GradesId'
        required: true
    patch:
      summary: 部分更新
      description: '指定した ID の等級情報を部分更新します。


        なお、適用日を迎えていない従業員情報の更新が予定されている等級の更新はできません。'
      parameters:
      - in: path
        name: id
        description: 等級ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 部分更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: patchV1GradesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1GradesId'
        required: true
    delete:
      summary: 削除
      description: '指定した ID の等級情報を削除します。


        なお、適用日を迎えていない従業員情報の更新が予定されている等級の削除はできません。'
      parameters:
      - in: path
        name: id
        description: 等級ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: (no content)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: deleteV1GradesId
  /v1/grades:
    get:
      summary: リストの取得
      description: 等級情報をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1Grades
    post:
      summary: 作成
      description: 等級情報を新規登録します。
      responses:
        '201':
          description: 作成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1Grades
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1Grades'
        required: true
  /v1/payment_periods:
    get:
      summary: リストの取得
      description: 給与支給形態をリストで取得します。
      parameters:
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: sort
        description: 並び順
        required: false
        schema:
          type: string
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentPeriod'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1PaymentPeriods
  /v1/payment_periods/{id}:
    get:
      summary: 取得
      description: 指定した ID の給与支給形態情報を取得します。
      parameters:
      - in: path
        name: id
        description: 給与支給形態のID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPeriod'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1PaymentPeriodsId
  /v1/payrolls/{payroll_id}/payslips:
    get:
      summary: リストの取得
      description: 給与明細情報をリストで取得します。
      parameters:
      - in: path
        name: payroll_id
        description: 給与ID
        required: true
        schema:
          type: string
      - in: query
        name: crew_id
        description: 取得したい従業員のID（カンマ区切り）
        required: false
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - company
      - in: query
        name: page
        description: Page of results to fetch.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: リストの取得
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payslip'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1PayrollsPayrollIdPayslips
    post:
      summary: 登録
      description: '給与明細情報を登録します。


        以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダーの `Content-Type` に `application/json` を指定してリクエストしてください。

        values の配列に給与明細項目の値を設定してください。

        ```

        {

        "crew_id": "従業員ID",

        "memo": "string",

        "values": [

        { "key": "支給項目1", "value": "10000" },

        { "key": "支給項目2", "value": "100000" },

        { "key": "支給項目3", "value": "200000" },

        { "key": "控除項目1", "value": "3000" },

        { "key": "控除項目2", "value": "30000" },

        { "key": "控除項目3", "value": "4000" },

        { "key": "勤怠項目1", "value": "160" },

        { "key": "勤怠項目2", "value": "20" },

        { "key": "勤怠項目3", "value": "10" },

        { "key": "合計項目1", "value": "9000000" },

        { "key": "合計項目2", "value": "5000000" },

        { "key": "合計項目3", "value": "4000000" }

        ]

        }

        ```'
      parameters:
      - in: path
        name: payroll_id
        description: 給与明細グループID
        required: true
        schema:
          type: string
      responses:
        '201':
          description: 登録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payslip'
      tags:
      - カスタム家族項目テンプレート
      operationId: postV1PayrollsPayrollIdPayslips
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV1PayrollsPayrollIdPayslips'
        required: true
  /v1/payrolls/{payroll_id}/payslips/{id}:
    get:
      summary: 取得
      description: 指定した ID の給与明細情報を取得します。
      parameters:
      - in: path
        name: payroll_id
        description: 給与ID
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: 給与明細ID
        required: true
        schema:
          type: string
      - in: query
        name: embed
        description: 埋め込むオブジェクト
        required: false
        schema:
          type: string
          enum:
          - company
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payslip'
      tags:
      - カスタム家族項目テンプレート
      operationId: getV1PayrollsPayrollIdPayslipsId
    delete:
      summary: 削除
      description: 指定した ID の給与明細情報を削除します。
[...]
